@import "base";
@import "nav";
@import "header";
@import "gallery";
@import "modal-up";
@import "modal-anime";



body{
    background-color: $color-primary;
}


*{
    margin:0;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    text-transform: capitalize;
    font-family: 'Nunito', sans-serif;
    scroll-behavior: smooth;
}